body{
    margin:0;
    padding: 0;
}

.link-color{
    color: black;
    background-color: transparent;
    text-decoration: none;
}
.search-icon-input input{
    width: 150px; 
    padding-top: 7px;
    padding-bottom: 7px; 
    border-top-right-radius: 20px; 
    border-bottom-right-radius: 20px;
    border-style: none;
}
.search-icon-input input ::placeholder{
    border-style:none ;
}

.first-sec a{
    color: black;
    text-decoration: none;
}
footer {
      border-top: 1px solid #ffffff;
      background-color: #fff;
      padding: 50px 0;
}
footer h5 {
      font-weight: 700;
      font-size: 18px;
      color: #111;
      margin-bottom: 15px;
}
footer ul {
      list-style: none;
      padding: 0;
      margin: 0;
}
footer ul li {
      margin-bottom: 8px;
}
footer ul li a {
      text-decoration: none;
      color: #222;
      font-size: 15px;
      transition: color 0.3s;
}
footer ul li a:hover {
      text-decoration: underline;
      color: #0074c2;
}